
<link rel="stylesheet" href="/css/onlycars.css">
<header>

  <img src="/images/logo.png" alt="Site Logo" width="400" />
</header>
<h1>hey welcome back {{name}}</h1>



<p>
  OnlyCars is a web app where car enthusiasts can share their favorite rides. 
  Users can sign up, log in, and post details about their car including:
</p>
<ul style="display: flex; gap: 20px; list-style: none;">
  <li><a href="/">Home</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="#contact">Contact</a></li>
    <li><a href="/qna.html">Public Forum</a></li>
</ul>

<h2>All Posts:</h2>
{{#each posts}}
  <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 15px;">
    <h3>{{username}}'s Car Post</h3>
    <p><strong>Brand:</strong> {{carbrand}}</p>
    <p><strong>Model:</strong> {{carmodel}}</p>
    <p><strong>Year:</strong> {{caryear}}</p>
<img src="/uploads/{{carpicture}}" width="200" alt="car photo">
    <p>{{desfription}}</p>
  </div>
{{/each}}